<div class="container">
    <div class="jumbotron">
        <h1>Welcome to Venue Booking</h1>
        <p>Browse venues for your event by venue or by time (in 1 hr intervals).</p>
        <p>
          <%= link_to "Browse by Timeslot", "/browsetime" %>
          <%= link_to "Browse by Venues", "/browsevenue" %>
        </p>
      </div>
  </div>
</body>
</html>
